@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
   --font-body: var(--font-inter);
  --font-heading: var(--font-outfit);
  --font-paragraph: var(--font-sora);
}
body {
  font-family: var(--font-body);
}

h1, h2, h3, h4 {
  font-family: var(--font-heading);
}
p{
  font-family: var(--font-paragraph);
  font-size: medium;
}
ul li{
  font-family: var(--font-paragraph);
  font-size: medium;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
}
